:root {
    --incorrect-color: red;
    --correct-color: green;
    --highlight-color: blue;
    --map-width: 50vw;
    --map-height: 75vh;
}

main {
    user-select: none;
    max-height: 100%;
    height: 100%;
}

/* TODO: add zoom button in one of the map div corners */
/* TODO: change mouse cursor when panning/zooming? hard to override map-item cursors */
.map-div {
    margin: auto;
    width: var(--map-width);
    height: var(--map-height);
    overflow: hidden;
}

.map-div svg {
    width: 100%;
    height: 100%;
}

.map-div .map-item {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0.2;
}

.map-div .map-item.map-river {
    fill: none;
    stroke-width: 2px;
}

.map-div .map-item.map-river-show {
    stroke: #95979a;
    stroke-width: 2px;
}

.map-div .map-item.map-region {
    fill: #eee5;
    stroke-width: 1px;
    stroke: #95979a;
    stroke-dasharray: 5, 5;
}

.map-div .map-item.marker {
    stroke: #000 !important;
    stroke-width: 1pt !important;
    fill: #fff;
}

.map-div .map-item-bounds {
    fill: transparent;
    stroke: none;
}

.map-div .map-item-group:not(.incorrect):not(.correct) .map-item:hover:not(.map-river),
.map-div .map-item-group:not(.incorrect):not(.correct) .map-item-bounds:hover ~ .map-item:not(.map-river) {
    fill: var(--secondary-dark-color);
    fill-opacity: 0.4;
    cursor: pointer;
}

.map-div .map-item-group:not(.incorrect):not(.correct) .map-item.map-river:hover,
.map-div .map-item-group:not(.incorrect):not(.correct) .map-item-bounds:hover ~ .map-item.map-river {
    stroke: var(--secondary-dark-color);
    stroke-width: 2;
    cursor: pointer;
}

.map-div .map-item-group:not(.incorrect):not(.correct) .map-item-bounds {
    cursor: pointer;
}

.base-map {
    z-index: -1;
}

.map-item {
    transition: fill 0.1s, fill-opacity 0.1s;;
}

.map-item.no-border {
    stroke: none !important;
}

.map-item-group.incorrect .map-item:not(.map-river) {
    fill: var(--incorrect-color) !important;
    fill-opacity: 0.4;
    stroke: #86888b;
}

.map-item-group.incorrect .map-item.map-river {
    stroke: var(--incorrect-color) !important;
}

.map-item-group.incorrect .map-item-text {
    opacity: 1;
}

.map-item-group.correct .map-item:not(.map-river) {
    fill: var(--correct-color) !important;
    fill-opacity: 0.4;
    stroke: #86888b;
}

.map-item-group.correct .map-item.map-river {
    stroke: var(--correct-color) !important;
    stroke-opacity: 0.7;
}

.map-item-group.correct .map-item.map-lake, .map-item-group.incorrect .map-item.map-lake {
    fill-opacity: 0.3;
}

.map-item-group.highlighted:not(.correct):not(.incorrect) .map-item:not(.map-river) {
    fill: var(--highlight-color) !important;
    fill-opacity: 0.4;
}

.map-item-group.highlighted:not(.correct):not(.incorrect) .map-item.map-river {
    stroke: var(--highlight-color) !important;
    stroke-opacity: 0.4;
}

.map-item-group.highlighted:not(.correct):not(.incorrect) .map-item-text-group {
    opacity: 0.5;
}

.map-item-text-group {
    font-family: inherit;
    font-size: 8pt;
    alignment-baseline: middle;
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
}

.map-item-text-group.visible {
    opacity: 1;
}

.map-item-text-group .map-item-text-background {
    fill: var(--secondary-light-color);
    fill-opacity: 0.5;
}

#world-map .map-item-text-group {
    font-size: 6pt;
}

.question-div {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #ffffff66;
    margin: auto;
    width: var(--map-width);
    padding: 10px;
    text-align: center;
}

#question-span {
    flex: 80%;
    font-size: 125%;
}

#stopwatch, #progress {
    flex: 10%;
    white-space: nowrap;
    margin: auto;
}

.tooltip-div {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    user-select: none;
    cursor: initial;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 8px;
    pointer-events: none;
}

.tooltip-div span {
    white-space: nowrap;
    text-wrap: none;
}

.map-controls {
    display: flex;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: var(--map-width);
}

#map-controls-btns {
    flex: 50%;
}

#map-controls-mode, #map-controls-view-text {
    flex: 25%;
    margin: auto;
    white-space: nowrap;
}

#checkbox-view-text {
    margin-left: 0.5em;
}

@media (max-width: 1500px) {
    :root {
        --map-width: 60vw;
    }
}

@media (max-width: 1200px) {
    :root {
        --map-width: 75vw;
    }
}

@media (max-width: 800px) {
    :root {
        --map-width: 90vw;
    }
}
